#·.gitattributes

# by default
*       text=auto

# UTF-16
*.reg   diff=utf-16

# graphics
*.png   binary
*.ico   binary

# archives
*.zip   binary
*.7z    binary
*.gz    binary
*.tar   binary
*.tgz   binary

# no markers and always conflict when merging
#*.sln           merge=binary
#*.*proj         merge=binary

