#·.gitignore

*~
*~.*

# traces
*.log

# env
.devcontainer
.env
.venv

# dev tooling artifacts
.vscode/
*.orig

# compilation artifacts
x64
x86
__pycache__/

# OS artifacts
.DS_Store
Thumbs.db

# npm
node_modules/

