
#~.swaynag/config
font=Carlito 16
border-bottom=000000
border-bottom-size=8

#~.config/sway

input type:keyboard {
    xkb_layout us,ru
    xkb_options grp:win_space_toggle
}

workspace_layout tabbed
tiling_drag disable

# #203040 == HSV(210/360, 2/4, 1/4)
client.focused #F0B89C #102840 #ffffff #102840 #F0B89C
client.focused_inactive #303840 #303840 #ffffff

#$ swaymsg -t get_outputs
output ??? scale 2
output eDP-1 position 0,0
output HDMI-A-1 position 1920,0
output * bg #6090c0 solid_color

input type:touchpad {
  tap enabled
  dwt enabled

  middle_emulation enabled

    scroll_factor 0.3
    natural_scroll enabled

    pointer_accel 0
    accel_profile flat
}

#$ swaymsg -t get_inputs
input ::Logitech_MX_Vertical {

    scroll_factor 3

    pointer_accel -0.75
    accel_profile adaptive
}

seat seat0 xcursor_theme Breeze-Obsidian 40
#mouse_warping container
focus_follows_mouse always

# disable mouse-scroll over the title bar
bindsym ButtOn4 nop
bindsym ButtOn5 nop

set $mod Mod4

bindsym --to-code $mod+Shift+c reload

bindsym $mod+Shift+F9 kill

set $term urxvt
set $menu dmenu_path | dmenu -m 0 -fn mono -l 42 -i | xargs swaymsg exec --
set $swaylock swaylock -lL -F -e -c 323232 --font Inter --font-size 18 -k --indicator-radius 72 --indicator-thickness 24
set $screencap grimshot save screen

#$ wev | grep --colour=never -oP 'sym: \K[^\r]+$'
bindsym $mod+grave exec $menu

bindsym $mod+Shift+E exec swaynag -t warning -m 'Do you really wish to exit Sway?' -b 'Yes, quit!' 'swaymsg exit' -s 'X'

bindsym $mod+Shift+1 move container to Workspace A; Workspace A
bindsym $mod+Shift+2 move container to Workspace B; Workspace B
bindsym $mod+Shift+3 move container to Workspace C; Workspace C
bindsym $mod+Shift+4 move container to Workspace D; Workspace D
bindsym $mod+Shift+5 move container to Workspace E; Workspace E
bindsym $mod+Shift+6 move container to Workspace F; Workspace F
bindsym $mod+Shift+7 move container to Workspace G; Workspace G
bindsym $mod+Shift+8 move container to Workspace H; Workspace H
bindsym $mod+Shift+9 move container to Workspace I; Workspace I
bindsym $mod+Shift+0 move container to Workspace 0; Workspace 0

bindsym --to-code $mod+Shift+x exec $swaylock

bindsym --to-code $mod+p focus parent
bindsym --to-code $mod+c focus child
bindsym --to-code $mod+a focus prev
bindsym --to-code $mod+s focus next

bindsym $mod+Tab workspace back_and_forth

bindsym --to-code $mod+f fullscreen

bindsym --to-code $mod+Shift+q floating toggle
bindsym --to-code $mod+q focus mode_toggle
bindsym --to-code $mod+w layout tabbed
bindsym --to-code $mod+e layout toggle split

bindsym --to-code $mod+Shift+s nop
bindsym --release --to-code $mod+Shift+s exec $screencap ~/Pictures/screencapFull.$(date -u '+%Y-%m-%dT%TZ').png

# disable Cut/Copy/Paste
bindsym Shift+Delete nop
bindsym Ctrl+Insert nop
bindsym Shift+Insert nop

# man 5 sway-bar
bar {
    position top

    status_command while ~/.config/sway/status.sh; do sleep 6; done
    status_padding 4
    font pango: Carlito 16

    # disable mouse-scroll (default op is to cycle thru workspaces)
    bindsym ButtOn4 nop
    bindsym ButtOn5 nop

    colors {
        statusline #f5f5f5
        background #323232

        inactive_workspace #32323200 #323232 #f5f5f5
        focused_workspace #323232 #32323200 #323232
    }
}


include @sysconfdir@/sway/config.d/*
